:root {
    --header-height: 3.5rem;

    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
  

    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
  

    --z-tooltip: 10;
    --z-fixed: 100;
  }
  .section{
    padding: 5.5rem 0 1rem;
  }
  
  .section__title,
  .section__title-center{
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-bottom: var(--mb-2);
    line-height: 140%;
  }
  
  .section__title-center{
    text-align: center;
    padding-left: 100px ;
  }
  
  .container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid{
    display: grid;
  }
  /*=============== CONTACT ===============*/
.contact__container{
    row-gap: 3.5rem;
  }
  .contact__data{
    display: grid;
    row-gap: 2rem;
  }
  
  .contact__subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
  }
  
  .contact__description{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  .contact__icon{
    font-size: 1.25rem;
  }
  
  .contact__inputs{
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
  }
  
  .contact__content{
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--text-color-light);
  }
  
  .contact__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: var(--text-color);
    border: none;
    outline: none;
    z-index: 1;
  }
  
  .contact__label{
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    transition: .3s;
  }
  
  .contact__area{
    height: 7rem;
  }
  
  .contact__area textarea{
    resize: none;
  }
  
  /*Input focus move up label*/
  .contact__input:focus + .contact__label{
    top: -.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  .contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  .button--flex{
    display: flex;
  }
  .button--flex p{
    margin: 5px 0 0 -8px ;
    font-size: .95rem;
  }
  .button--flex i{
    margin-top: 5px;
  }
  .button--flex:hover{
    background-color: #91a58d;
    cursor: pointer;
  }