/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 3.5rem;
    /*56px*/
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
    --font-color: #fff;
    --primary-color: #17644B;
    --minor-color: hsl(160, 70%, 15%);
    --menu-color: rgba(5, 108, 45, 0.47);
    --font-black: #1c1c1c;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

.main {
    max-width: 1526px;
    margin: 0 auto;
    font-family: domine, serif;
}

.section {
    padding: 12rem 0 1rem;
}

.section__title,
.section__title-center {
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-bottom: var(--mb-2);
    line-height: 140%;
}

.section__title-center {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 2rem;
}

.row_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.btn {
    width: 180px;
    height: 50px;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 1px 1px;
    border-radius: 0.75rem;
    padding: 11px 0px 0px 43px;
}


/* ==========CATEGORIES============ */

.form {
    margin-top: -2rem;
    margin-left: 2rem;
    max-width: 250px;
    height: 330px;
    background-color: hsl(var(--hue), 24%, 66%);
    border-radius: 2rem;
    border: 2px solid #17644B;
    padding-right: 0.75rem;
}

.ca_elements {
    line-height: 1.5rem;
    margin-top: 1.75rem;
    margin-left: 3rem;
    list-style-type: disc;
}

.ca_elements li a {
    color: var(--font-black);
}

.ca_elements ul a {
    margin-left: 1.25rem;
}

.title_pro {
    margin-left: -1rem;
    list-style-type: none;
    color: var(--font-black);
}

.ca_elements ul a:hover,
.ca_elements ul a.active_shop {
    color: rgba(59, 12, 12, 0.34);
}


/* =========PRICE======== */

.sidebar__item {
    position: relative;
    margin-top: -10rem;
    width: 240px;
    height: 18.35rem;
    left: 2.5rem;
}

.sidebar__item.sidebar__item__color--option {
    overflow: hidden;
}

.sidebar__item h4 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}

.sidebar__item ul li {
    list-style: none;
}

.sidebar__item ul li a {
    font-size: 16px;
    line-height: 39px;
    display: block;
}

.sidebar__item .latest-product__text {
    position: relative;
}

.sidebar__item .latest-product__text h4 {
    margin-bottom: 45px;
}

.sidebar__item .latest-product__text .owl-carousel .owl-nav {
    right: 0;
}

.price-range-wrap .range-slider {
    margin-top: 20px;
}

.price-range-wrap .range-slider .price-input {
    position: relative;
}

.price-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 38px;
    top: 13px;
    height: 1px;
    width: 5px;
    background: var(--primary-color);
    content: "";
}

.price-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    max-width: 20%;
    border: none;
    display: inline-block;
}

.price-range-wrap .price-range {
    border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #ebebeb;
    height: 5px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

.price-range-wrap .price-range .ui-slider-range {
    background: var(--first-color-light);
    border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background: var(--first-color-light);
}


/*---------------------
  Latest Product
-----------------------*/

.latest-product__text {
    width: 20rem;
    height: 40rem;
    margin-top: -15rem;
}

.latest-product__text h4 {
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
    position: absolute;
    right: 20px;
    top: -5rem;
}

.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.latest-product__item__pic {
    float: left;
    margin-right: 26px;
}

.latest-product__item__pic img {
    height: 110px;
    width: 110px;
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;
}

.latest-product__item__text h6 {
    color: #252525;
    margin-bottom: 8px;
}

.latest-product__item__text span {
    font-size: 18px;
    display: block;
    color: #252525;
    font-weight: 700;
}

.product__pagination,
.blog__pagination {
    padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
    margin-right: 0;
}


/*---------------------
  Latest Product
-----------------------*/

.latest-product__text {
    width: 15rem;
    height: 40rem;
    margin-top: 13rem;
}

.latest-product__text h4 {
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
    position: absolute;
    right: 20px;
    top: -5rem;
}

.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.latest-product__item__pic {
    float: left;
    margin-right: 26px;
}

.latest-product__item__pic img {
    height: 100px;
    width: 10px;
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;
}

.latest-product__item__text h6 {
    font-size: var(--normal-font-size);
    color: #252525;
    margin-bottom: 8px;
}

.latest-product__item__text span {
    font-size: 15px;
    display: block;
    color: #252525;
    font-weight: 700;
}


/*=============== PRODUCTS ===============*/

.product {
    margin-left: 2rem;
    margin-top: -10rem;
    width: 52rem;
}

.product__description {
    text-align: center;
}

.product__container {
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
}

.product__card {
    display: grid;
    position: relative;
}

.product__img {
    position: relative;
    width: 120px;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.product__title,
.product__price {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.product__title {
    margin-bottom: .25rem;
}

.product__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--first-color);
    color: #FFF;
    padding: .25rem;
    border-radius: .35rem;
    font-size: 1.15rem;
    cursor: pointer;
}

.product__button:hover {
    background-color: var(--first-color-alt);
}

.product__circle {
    width: 90px;
    height: 90px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 31%;
}

.product__card:hover .product__img {
    transform: translateY(-.5rem);
}


/* ========sort====== */

.sort {
    margin-top: 11rem;
    margin-left: 1.25rem;
    width: 53rem;
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--first-color-light);
    border-radius: 1.5rem;
    border: 2px solid #17644B;
}

.form_sort {
    margin: 1rem 2rem 0 0;
}

select {
    position: absolute;
    width: 20rem;
    height: 3rem;
    margin-left: -20rem;
    border-radius: 1.5rem;
    border: 2px solid #17644B;
}

.search {
    display: inline-flex;
    position: relative;
    margin: .25rem 21rem 0 1.5rem;
    width: 28rem;
    height: 2.5rem;
    background-color: #FFF;
    border-radius: 1.5rem;
    border: 2px solid #17644B;
    padding: 0 3rem 0 1rem;
}

.search_icon {
    position: absolute;
    display: inline-flex;
    margin-top: 1rem;
    margin-left: -23rem;
}